@model WebApplication2.Models.Tour

@{
    ViewBag.Title = "CTTour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CHI TIẾT TOUR</h2>

<div class="site-section" data-aos="fade-up">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6 mb-5 mb-md-0">
                <img src="~/Resource/images/hero_bg_2.jpg" alt="Image" class="img-fluid rounded">
            </div>
			<div class="col-md-6 pl-md-5">
						<h2 class="font-weight-light text-black mb-4 ">Thông tin tour du lịch</h2>
						<p>Ha Long Bay là môt danh lam thắng cảnh ở Viêt Nam và là môt vinh thuôc Bắc bộ.</p>
						<hr>

					<ul class="list-unstyled">					
        				<h2>
						<li class="d-flex align-items-center"></tab>
							@Html.DisplayFor(model => model.tenTour)
						</li>
						</h2>

						<li class="d-flex align-items-center" >
							@Html.DisplayNameFor(model => model.thoiGian)
						</li>

						<li class="d-flex align-items-center">
							@Html.DisplayFor(model => model.thoiGian)
						</li>

						<li class="d-flex align-items-center">
							@Html.DisplayNameFor(model => model.phuongTien)
						</li>

						<li class="d-flex align-items-center">
							@Html.DisplayFor(model => model.phuongTien)
						</li>

						<li class="d-flex align-items-center">
							@Html.DisplayNameFor(model => model.gia)
						</li>

						<li class="d-flex align-items-center">
							@Html.DisplayFor(model => model.gia)
						</li>

						<li class="d-flex align-items-center">
							@Html.DisplayNameFor(model => model.ngayDi)
						</li>

						<li class="d-flex align-items-center">
							@Html.DisplayFor(model => model.ngayDi)
						</li>

						<li class="d-flex align-items-center">
							@Html.DisplayNameFor(model => model.chiTiet)
						</li>

						<li class="d-flex align-items-center">
							@Html.DisplayFor(model => model.chiTiet)
						</li>
				</ul>
                    <p>
                        @Html.ActionLink("Đặt tour", "DatTour", "Home", new { id = Model.Id, @class = "btn btn-primary py-1 px-3 text-white" }) &nbsp &nbsp
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Sửa", "EditTour", "Home", new { id = Model.Id })
                        }
                    </p> 
		</div>
	</div>
</div>
<p>
    
    @Html.ActionLink("Back to List", "ListTour")
</p>

